<div class="page">
  <app-header
    goTo="condominium-listing"
    [currentHeader]="headerEnum.TABS"
    [condominiumName]="condominium?.name || ''">
  </app-header>
  <div class="page--content">
    <div class="page--content--cards">
      <app-info-card [title]="monthGeneration" description="Neste mês"></app-info-card>
      <app-info-card [title]="yearGeneration" description="Neste ano"></app-info-card>
      <app-info-card [title]="yesterdayGeneration" description="Ontem"></app-info-card>
      <app-info-card [title]="lifetimeGeneration" description="Ao todo"></app-info-card>
      <app-current-info-card [title]="recentGeneration" [description]="recentGenerationDate"></app-current-info-card>
    </div>
  </div>
</div>
