<div class="header">
  <ng-container *ngIf="currentHeader === headerEnum.NORMAL" [ngTemplateOutlet]="normal"></ng-container>
  <ng-container *ngIf="currentHeader === headerEnum.TABS || currentHeader === headerEnum.TITLE" [ngTemplateOutlet]="tabs"></ng-container>
</div>

<ng-template #normal>
  <img src="assets/sunlight.svg " alt="Sunlight" draggable="false">
</ng-template>

<ng-template #tabs>
  <div class="header--tabs">
    <div class="header--tabs--localization">
      <img src="assets/arrow-left-icon.svg" alt="Voltar"
           draggable="false" (click)="redirectTo()">

      <h3>{{ condominiumName }}</h3>
    </div>

    <div *ngIf="currentHeader === headerEnum.TABS" class="header--tabs--navigation">
      <span [class.general]="navigation === headerNavigationEnum.GENERAL"
            [routerLink]="generalRedirect"
            (click)="changeNavigation(headerNavigationEnum.GENERAL)">Geral</span>

      <span [class.spot]="navigation === headerNavigationEnum.SPOTS"
            [routerLink]="pointsRedirect"
            (click)="changeNavigation(headerNavigationEnum.SPOTS)">Pontos</span>
    </div>
  </div>
</ng-template>
