.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &--logo {
    img {
      width: 210px;
      height: 53.41px;
      margin: 135px 0 80px 0;
    }
  }



  &--container {
    display: flex;
    flex-direction: column;


    &--header {
      display: flex;
      width: 100%;

      h2 {
        font-size: 20px;
        color: var(--color-text);
        font-weight: 700;
        margin: 0 0 7px 2px;
      }
      img {
        width: 20px;
        height: 19px;
        margin-left: 5px;
      }
    }
    span {
      color: var(--color-text);
      font-size: 13px;
      margin: 0 0 13px 2px;
    }

    &--inputs {
      display: flex;
      flex-direction: column;
      width: 85vw;
      input {
        margin-bottom: 13px;
        padding: 18px 16px;
      }

    }
  }
  button {
    width: 85vw;
    height: 55px;
    margin-top: 43px;
  }


}
