<div class="login">
  <img src="assets/sunlight.svg" alt="Sunglight" draggable="false">

  <div class="login--container">
      <div class="login--container--header">
        <h2>Olá, seja bem-vindo(a)</h2>
        <img src="assets/user-icon.svg" draggable="false" alt="Usuário">
      </div>

    <span>Entre com o seu usuário e a senha.</span>

    <div class="login--container--inputs">
      <input type="email" placeholder="Usuário">
      <input type="password" placeholder="Senha">
    </div>
  </div>

  <button type="button" class="button" (click)="redirect()">Entrar</button>
</div>
